
/* Logo */
img[alt='Logo'] {
    width: 5rem;
}

img[alt='Me'] {
    width: 500px;
    object-fit: cover;
}

/* body */
body {
    text-align: center;
}

/* Custom variables */
:root{
    --primary: rgb(0, 0, 0);
    --secondary: white;
    --alternative: #B799FF;
    --awesomeColor:#ACBCFF ;
    --coolColor: #ACBCFF;
    --mainBox-shadow: -8px -3px 23px 5px #acbdffc2;
}

/* About */
.lead {
    border: 10px solid var(--coolColor);
    background-color: var(--alternative);
    box-shadow: .6vw .3vw .8vw var(--awesomeColor);
}

/* Education */
.education {
    width: 40em;
    margin: 5px auto;
    padding: 10px;
}
.card {
    border: 4px solid var(--coolColor);
    margin: 10px 0;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    background-color: var(--alternative);
}  
.card:nth-child(odd) {
    position: relative;
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
}
.dot:nth-child(odd)::after {
    position: absolute;
    top: -2em;
    right: 0;
    content: '';
    width: 4px;
    height: 45vh;
    border-right: 2px solid var(--primary);
}
.card:nth-child(even) {
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
    margin-left: auto;
    position: relative;
}

.dot:nth-child(even)::after {
    position: absolute;
    content: '';
    top: 90px;
    z-index: 20;
    left: -2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--awesomeColor);
}

.testicards {
    border: 4px solid var(--coolColor) !important; 
    border-radius: 20px;
    max-width: fit-content;
    box-shadow: .5vw .2vw .7vw var(--awesomeColor);
}

.testibody {
    margin-top: 1rem;
}

/* Media query */
@media screen and (width < 900px) {
    /* Education */
    .education {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        gap: 20px;
        align-items: center;
    }
    .card{
        width: 100%;
        flex-wrap: wrap;
    }
    .card a , .card p, footer p{
        font-size: small;
    }
    .card:nth-child(odd) {
        margin-left: 0;
    }
    .card:nth-child(odd)::after {
        content: none;
    }
    .card:nth-child(even) {
        margin-left: 0;
    }
    .card:nth-child(even)::after {
        content: none;
    }
    .testicards {
        max-height: 200px;
    }
}